<h1 class="text-center bg-primary text-white">Products</h1>
<hr>
<ul *ngFor="let p of products">
  <li class="bg-dark text-danger">
      <img src="{{p.pimg}}" alt="Not found" class="img-responsive"><br>
      Product ID:{{p.id}}<br>
      Product Name:{{p.pname|uppercase}}<br>
      Manufacture Date:{{p.mfDate|date:'shortDate'}}<br>
      Product Price:{{p.price|currency:'INR'}}<br>
      Product Price With GST:{{p.price|gst|currency:'INR'}}<br>
      Category:{{p.category}}<br><hr>   
  </li>
</ul>